.hero {
  width: 100%;
  height: 871px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    270deg,
    #224045 28.17%,
    #113d45 48.64%,
    #003b45 100%
  );
  position: relative;
}
