/*hero section*/
.hero {
  width: 100%;
  height: 871px;

  background: linear-gradient(
    270deg,
    #224045 28.17%,
    #113d45 48.64%,
    #003b45 100%
  );
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 660px;
  position: relative;
  padding-top: 181px;
}

.text-content {
  gap: 25px;
  display: flex;
  flex-direction: column;
}
.text-content h1 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  line-height: 86px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  width: 802px;
}

.highlight-primary {
  color: #4fa481;
  position: relative;
  display: inline-block;
}

.highlight-secondary {
  line-height: 74px;
}

.underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 1;
}

.hero p {
  width: 841px;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.hero-content a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 46px;
  background-color: #46826b;
  padding: 15px 20px;
  color: #ffffff;
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  box-shadow: 0px 13px 26.7px 0px #4fa48112;
  width: 381.91px;
  height: 62px;
}

/*section-divider*/
.section-divider {
  position: relative;
  width: 100%;
  height: 80px;
}

.wave-divider {
  position: absolute;
  width: 100%;
  height: 79px;
  top: -46px;
  left: 0;
}

.wave-divider-one {
  position: absolute;
  width: 100%;
  height: 79px;
  top: -36.71px;
  left: 0;
}

/*sub-hero*/
.sub-hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.sub-hero-content {
  width: 1284px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sub-hero-image-container {
  flex: 1;
  width: 100%;
  height: auto;
}

.sub-hero-image-container img {
  width: 100%;
  height: auto;
}
.sub-hero-text-container {
  width: 549px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.sub-hero-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 51.24px;
  letter-spacing: 0%;
}

.sub-hero-text-container h2 span {
  color: #4fa481;
}

.divider {
  width: 100%;

  border-top: 2px dashed #4fa481;
  margin: 20px 0;
}

.sub-hero-text-container p {
  color: #6c757d;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.sub-hero-text-container span {
  font-weight: 600;
}

/*features section*/

.features {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 154.5px 0;
}

.features-content {
  max-width: 1205px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
}

.features-content-text-container {
  max-width: 530px;
}

.features-content-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  max-width: 478px;
  line-height: 51.24px;
  letter-spacing: 0%;
  margin-bottom: 49.3px;
}

.features-content-text-container h2 span {
  color: #4fa481;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature-item {
  display: flex;
  gap: 30px;
}

.feature-text {
  border-left: 2px solid #4fa481;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.feature-icon-container {
  min-width: 90px;
  min-height: 90px;
  background-color: #4fa4811a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.feature-icon-container img {
  height: 40px;
  width: auto;
}

.feature-text h5 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.feature-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.features-content-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #46826b66;
  padding: 30px;
  border-radius: 20px;
}

.features-image-cover {
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.feature-image-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.feature-image-text p {
  font-weight: 500;
  font-size: 18px;
}
.features-image {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/*benefits section*/

.benefits-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 0;
}

.benefits-content {
  width: 1410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.benefits-title-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.benefits-content h2 {
  max-width: 485px;
  font-family: Bree Serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  font-family: "Bree Serif", serif;
  line-height: 51.24px;
  letter-spacing: 0%;
  text-align: center;
}

.benefits-content h2 span {
  color: #4fa481;
}

.benefits-cards-container {
  max-width: 1236px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  flex-wrap: wrap;
  row-gap: 60px;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  max-width: 338px;
  gap: 22px;
  border-radius: 12px;
  padding: 35px;
  background-color: #4fa4811a;
  border: 1px solid #4fa48180;
  position: relative;
}

.benefit-arrow-right {
  width: 41px;
  height: 41px;
}

.card-top-indicator {
  width: 66px;
  height: 12px;
  background-color: #4fa4811a;
  border: 1px solid #4fa48180;
  border-bottom: none;

  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.benefit-card-icon-container {
  width: 100%;
  position: relative;
}

.benefit-card-icon {
  width: 60px;
  height: 60px;
}

.number-box {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 28px;
  color: #4fa4811a;
  -webkit-text-stroke: 1px #000;
  -webkit-text-stroke: 1px #000;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.benefit-card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.benefit-card-text h4 {
  font-family: "Bree Serif", serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;

  line-height: 28px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.benefit-card-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.benefit-card-text p span {
  font-weight: 600;
}

/*mission-section*/

.mission-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
  background: url("../assets/images/overlay.png");
  background: linear-gradient(
    90deg,
    #003b45 0%,
    #003b45 68%,
    #46826b 68%,
    #46826b 100%
  );
}

.mission-text-container {
  width: 664px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.mission-text-container h2 {
  max-width: 400px;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 43px;
  line-height: 51.24px;
  letter-spacing: 0%;
  color: #ffffff;
}
.mission-text-container h2 span {
  color: #4fa481;
}

.mission-text-content {
  display: flex;
  flex-direction: column;
  max-width: 592px;
  gap: 30px;
}

.mission-text-content p {
  color: #f5f5f5;
  font-weight: 400;
  font-style: Regular;
  font-size: 23px;
  line-height: 24px;
  letter-spacing: 0%;
}

.misiion-text-first-paragraph {
  border-left: 5px solid #4fa481;
  padding-left: 5px;
}

.mission-text-content p span {
  font-weight: 600;
}

.mission-text-content a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 46px;
  background-color: #469671;
  padding: 15px 20px;
  color: #ffffff;
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  box-shadow: 0px 13px 26.7px 0px #4fa48112;
  width: fit-content;
}

.mission-image-container {
  max-width: 513px;
  margin-left: 15px;
}

.mission-image-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

.mission-icon-container {
  width: 278px;
}

/* target section */

.target-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 110px 0;
}

.target-section-container {
  gap: 60px;
  max-width: 1410px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.target-section h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 51.24px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 1028px;
}

.target-section h2 span {
  color: #4fa481;
}

.target-content {
  display: flex;
  min-width: 100%;
  gap: 139px;
  justify-content: center;
  align-items: center;
}

.target-content-container {
  width: 626px;
  height: 283px;
  position: relative;
}

.target-content-container p {
  position: absolute;
  max-width: 313px;
  font-weight: 500;
  font-style: Italic;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 0%;
  top: 59px;
  left: 28px;
}

.target-content-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}
