/*hero section*/
.hero {
  width: 100%;
  height: 871px;

  background: linear-gradient(
    270deg,
    #224045 28.17%,
    #113d45 48.64%,
    #003b45 100%
  );
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 660px;
  position: relative;
  padding-top: 181px;
}

.text-content {
  gap: 25px;
  display: flex;
  flex-direction: column;
}
.text-content h1 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  line-height: 86px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  width: 802px;
}

.highlight-primary {
  color: #4fa481;
  position: relative;
  display: inline-block;
}

.highlight-secondary {
  line-height: 74px;
}

.underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 1;
}

.hero p {
  width: 841px;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.hero-content a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 46px;
  background-color: #46826b;
  padding: 15px 20px;
  color: #ffffff;
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  box-shadow: 0px 13px 26.7px 0px #4fa48112;
  width: 381.91px;
  height: 62px;
}

/*section-divider*/
.section-divider {
  position: relative;
  width: 100%;
  height: 80px;
}

.wave-divider {
  position: absolute;
  width: 100%;
  height: 79px;
  top: -46px;
  left: 0;
}

.wave-divider-one {
  position: absolute;
  width: 100%;
  height: 79px;
  top: -36.71px;
  left: 0;
}

/*sub-hero*/
.sub-hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.sub-hero-content {
  width: 1284px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.sub-hero-image-container {
  flex: 1;
  width: 100%;
  height: auto;
}

.sub-hero-image-container img {
  width: 100%;
  height: auto;
}
.sub-hero-text-container {
  width: 549px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.sub-hero-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 51.24px;
  letter-spacing: 0%;
}

.sub-hero-text-container h2 span {
  color: #4fa481;
}

.divider {
  width: 100%;

  border-top: 2px dashed #4fa481;
  margin: 20px 0;
}

.sub-hero-text-container p {
  color: #6c757d;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.sub-hero-text-container span {
  font-weight: 600;
}

/*features section*/

.features {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 154.5px 0;
}

.features-content {
  max-width: 1205px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 66px;
}

.features-content-text-container {
  min-width: 478px;
}

.features-content-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;

  line-height: 51.24px;
  letter-spacing: 0%;
  margin-bottom: 49.3px;
}

.features-content-text-container h2 span {
  color: #4fa481;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature-item {
  display: flex;
  gap: 30px;
}

.feature-text {
  border-left: 2px solid #4fa481;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.feature-icon-container {
  min-width: 90px;
  min-height: 90px;
  background-color: #4fa4811a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.feature-icon-container img {
  height: 40px;
  width: auto;
}

.feature-text h5 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.feature-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.features-content-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #46826b66;
  padding: 30px;
  border-radius: 20px;
}

.features-image-cover {
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.features-image {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
