.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 46px;
  background-color: #46826b;
  padding: 15px 20px;
  color: #ffffff;
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  box-shadow: 0px 13px 26.7px 0px #4fa48112;
  width: 381.91px;
  height: 62px;
  width: fit-content;
}

/*title section*/

.title-section {
  width: 100%;
  height: 397px;
  display: flex;
  justify-content: center;
  background-color: #003b45e5;
  align-items: center;
}

.title-section h1 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 65px;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}

/*impact section */

.impact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.impact-section-container {
  max-width: 1284px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.impact-image-container {
  background: #46826b66;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.impact-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.impact-text-container {
  max-width: 549px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 70px;
}

.impact-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0%;
  color: #1c1c1c;
}

.impact-text-container-paragraph {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.impact-text-container p {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.impact-text-container p span {
  font-weight: 600;
}

.impact-text-container p img {
  height: 21px;
  width: 21px;
  padding-right: 5px;
}

.impact-text-separator {
  width: 236px;
  height: 5px;
  background-color: #46826b;
}

.impact-text-emphasize {
  color: #4fa481;
}

/* advantages-section */

.avantages-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.advantages-container {
  max-width: 1284px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.advantages-text-container {
  max-width: 549px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 70px;
}

.advantages-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 51.24px;
  letter-spacing: 0%;
  color: #1c1c1c;
}

.advantages-text-container h2 span {
  color: #4fa481;
}

.advantages-container-top-paragraph {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0%;
}

.advantages-container-top-paragraph p:first-child {
  font-weight: 500;
}

.advantages-container-bottom-paragraph {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.advantages-container-bottom-paragraph-card {
  display: flex;
  gap: 30px;
}

.advantages-container-icon {
  width: 70px;
  height: 70px;
  background: #4fa4811a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
}

.advantages-container-icon img {
  height: 46px;
}

.advantages-container-bottom-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.advantages-container-bottom-text h5 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #1c1c1c;
}

.advantages-container-bottom-text p {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.advantages-image-container {
  background: #46826b66;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.advantages-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* accessibility section */
.accessibility-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: #003b45;
}

.accessibility-container {
  max-width: 1284px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 101px;
}

.accessibility-image-container {
  width: 219px;
  height: 219px;
}

.accessibility-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accessibility-text-container {
  width: 540px;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.accessibility-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 51.24px;
  letter-spacing: 0%;
  color: #fff;
}

.accessibility-text-container h2 span {
  color: #4fa481;
}

.accessibility-paragrpah-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #f5f5f5;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.accessibility-paragrpah-container :last-child {
  color: #5bbe95;
  font-weight: 600;
}

/*solidarity section */
.solidarity-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  position: relative;
}

.solidarity-right-bg {
  position: absolute;
  right: 0;
  top: 80px;
  bottom: 80px;
  width: 40%;
  background: #46826b;
  z-index: 1;
  border-bottom-left-radius: 20px;
}
.solidarity-container {
  max-width: 1284px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.solidarity-text-container {
  min-width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-right: 5px;
}

.solidarity-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 51.24px;
  letter-spacing: 0%;
}

.solidarity-text-container h2 span {
  color: #4fa481;
}

.solidarity-text-container p {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.solidarity-text-h3-container {
  background-color: #edf6f2;
  padding: 10px 10px 10px 5px;
  margin-right: -10px;
}

.solidarity-text-h3-container :first-child {
  font-family: DM Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;

  line-height: 30px;
  letter-spacing: -0.4px;

  color: #386956;
}

.solidarity-text-h3-container :last-child {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000 !important;
}

.solidarity-text-container :last-child {
  font-weight: 500;
  font-style: Italic;
  color: #46826b;
}

.solidarity-image-container {
  display: flex;
  justify-content: start;
  align-items: start;
  border-radius: 20px;
  z-index: 2;
}

.solidarity-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
