/*title section*/

.title-section {
  width: 100%;
  height: 397px;
  display: flex;
  justify-content: center;
  background-color: #003b45e5;
  align-items: center;
}

.title-section h1 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 55px;
  text-align: center;
  color: #fff;
}

@media (max-width: 768px) {
  .title-section h1 {
    font-size: 36px;
    line-height: 46px;
    width: 90%;
  }
}

/*impact section */

.impact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.impact-section-container {
  max-width: 1284px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.impact-image-container {
  background: #46826b66;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.impact-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.impact-text-container {
  max-width: 549px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 70px;
}

.impact-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #1c1c1c;
}

.impact-text-container-paragraph {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.impact-text-container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.impact-text-container p span {
  font-weight: 600;
}

.impact-text-container p img {
  height: 21px;
  width: 21px;
  padding-right: 5px;
}

.impact-text-separator {
  width: 236px;
  height: 5px;
  background-color: #46826b;
}

.impact-text-emphasize {
  color: #4fa481;
}

@media (max-width: 1400px) {
  .impact-section-container {
    max-width: 90%;
  }
}
@media (max-width: 1200px) {
  .impact-section-container {
    flex-direction: column;
  }
  .impact-text-container {
    max-width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .impact-text-container h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .impact-text-container p {
    font-size: 18px;
    line-height: 22px;
  }
}

/* advantages-section */

.avantages-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.advantages-container {
  max-width: 1284px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.advantages-text-container {
  max-width: 549px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 70px;
}

.advantages-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 51.24px;
  color: #1c1c1c;
}

.advantages-text-container h2 span {
  color: #4fa481;
}

.advantages-container-top-paragraph {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0%;
}

.advantages-container-top-paragraph p:first-child {
  font-weight: 500;
}

.advantages-container-bottom-paragraph {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.advantages-container-bottom-paragraph-card {
  display: flex;
  gap: 30px;
}

.advantages-container-icon {
  width: 70px;
  height: 70px;
  background: #4fa4811a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
}

.advantages-container-icon img {
  height: 46px;
}

.advantages-container-bottom-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.advantages-container-bottom-text h5 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #1c1c1c;
}

.advantages-container-bottom-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.advantages-image-container {
  background: #46826b66;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.advantages-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 1400px) {
  .advantages-container {
    max-width: 90%;
  }
}
@media (max-width: 1200px) {
  .advantages-container {
    flex-direction: column;
  }
  .advantages-text-container {
    max-width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .advantages-text-container h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .advantages-text-container h5 {
    font-size: 21px;
    line-height: 26px;
  }
  .advantages-text-container p {
    font-size: 18px;
    line-height: 22px;
  }
}

/* accessibility section */
.accessibility-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background-color: #003b45;
}

.accessibility-container {
  max-width: 1284px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 101px;
}

.accessibility-image-container {
  width: 219px;
  height: 219px;
}

.accessibility-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accessibility-text-container {
  width: 540px;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.accessibility-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 51.24px;
  color: #fff;
}

.accessibility-text-container h2 span {
  color: #4fa481;
}

.accessibility-paragrpah-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #f5f5f5;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.accessibility-paragrpah-container :last-child {
  color: #5bbe95;
  font-weight: 600;
}

@media (max-width: 1400px) {
  .accessibility-container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .accessibility-container {
    flex-direction: column-reverse;
  }
  .accessibility-text-container {
    max-width: 100%;
  }

  .accessibility-text-container h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .accessibility-text-container p {
    font-size: 18px;
    line-height: 22px;
  }
}

/*solidarity section */
.solidarity-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  position: relative;
}

.solidarity-right-bg {
  position: absolute;
  right: 0;
  top: 80px;
  bottom: 80px;
  width: 40%;
  background: #46826b;
  z-index: 1;
  border-bottom-left-radius: 20px;
}
.solidarity-container {
  max-width: 1284px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.solidarity-text-container {
  min-width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-right: 5px;
}

.solidarity-text-container h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 51.24px;
}

.solidarity-text-container h2 span {
  color: #4fa481;
}

.solidarity-text-container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.solidarity-text-h3-container {
  background-color: #edf6f2;
  padding: 10px 10px 10px 5px;
  margin-right: -10px;
}

.solidarity-text-h3-container :first-child {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.4px;

  color: #386956;
}

.solidarity-text-h3-container :last-child {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000000 !important;
}

.solidarity-text-container :last-child {
  font-weight: 500;
  font-style: Italic;
  color: #46826b;
}

.solidarity-image-container {
  display: flex;
  justify-content: start;
  align-items: start;
  border-radius: 20px;
  z-index: 2;
}

.solidarity-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 1400px) {
  .solidarity-container {
    max-width: 90%;
  }
}
@media (max-width: 1200px) {
  .solidarity-container {
    flex-direction: column;
    gap: 30px;
  }
  .solidarity-right-bg {
    display: none;
  }
  .solidarity-text-container {
    max-width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .solidarity-text-container h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .solidarity-text-container p {
    font-size: 18px;
    line-height: 22px;
  }
}

/*founder message section*/
.founder-message-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.founder-message-container {
  width: 934px;
  height: 570px;
  background-image: url("../assets/images/founder-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.founder-message-container img {
  width: 60px;
  height: auto;
}

.founder-message-container :first-child {
  margin-top: auto;
}

.founder-first-p {
  font-family: "Bree Serif", serif;
  font-size: 35px;
  line-height: 45px;
}

.founder-second-p {
  font-family: "Bree Serif", serif;
  font-size: 25px;
  line-height: 100%;
}

.founder-separator {
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder-separator div {
  height: 1px;
  width: 100%;
  background-color: #366954;
  margin-bottom: auto;
}

@media (max-width: 768px) {
  .founder-message-container {
    padding: 10% 5%;
  }
  .founder-message-container img {
    width: 40px;
  }
  .founder-first-p {
    font-size: 28px;
    line-height: 36px;
  }

  .founder-second-p {
    font-size: 21px;
    line-height: 26px;
  }
}

/* value section */

.value-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-section-container {
  max-width: 1284px;
  width: 100%;
}

.value-section-container h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 51.24px;
  text-align: center;
}

.value-section h2:last-of-type {
  font-weight: 400;
}

.value-text-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  flex-wrap: wrap;
}

.value-text-container > div {
  flex: 1;
  border: 1px solid #d0dbe9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  text-align: center;
  min-width: 300px;
}

.value-text-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}

.value-text-container > div p:first-of-type {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.value-text-container > div p:last-of-type {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.value-card-middle {
  color: #fff;
  background-color: #46826b;
  box-shadow: 0px 13px 30px 0px #4fa48166;
}

@media (max-width: 1400px) {
  .value-section-container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .value-section-container h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
