* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* header styles */

header {
  width: 100%;
  height: 137px;
  background-color: #fff;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 179px;
  height: 64px;
  object-fit: contain;
  display: block;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 44.5px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  color: #1c1c1c;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 60px;
}

.btn-project {
  border-radius: 46px;
  background-color: #4fa481;
  padding: 15px 20px;
  color: #ffffff;
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.btn-project img {
  width: 14.15px;
  height: 14.15px;
  object-fit: contain;
  display: block;
}

.contact-link {
  width: 327px;
  height: 81px;
  border-radius: 40px;
  background: #4fa4811a;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 20px;
}

.contact-link .icon-container {
  width: 49px;
  height: 49px;
  border-radius: 32.5px;
  background: #003b45;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.contact-link .icon-container img {
  width: 26.96px;
  height: 26.01px;
}

.contact-link h5 {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 21.96px;
  letter-spacing: 0;
  color: #4fa481;
  padding-bottom: 0.95px;
}

.contact-link p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 36.6px;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: capitalize;
}

/* footer styles */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
}

.footer-about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}

.footer-about p {
  max-width: 265px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
}

.footer-about-socials {
  display: flex;
  gap: 40px;
}

.footer-about-socials img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  display: block;
}

.footer-links h5 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer-devider {
  background: #4fa481;
  height: 3px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-links ul {
  color: #1c1c1c;
  display: flex;
  flex-direction: column;

  font-style: Regular;
  font-size: 16px;

  line-height: 40px;
  letter-spacing: 0%;

  list-style-type: disc;
  padding-left: 14px;
}

.footer-bottom {
  width: 100%;
  margin-top: 50px;
  height: 60px;
  background-color: #4fa481;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom img {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
  max-width: 100%;
}

.footer-bottom p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  z-index: 2;
}
